body{
    background-color: black;
    color: rgb(9, 206, 255);
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

.heading{
    font-size: 35px;
    font-weight: bold;
  }

  span
{
  font-size:48px;
}

#camera , #result
{
  border: 2px dashed rgb(236, 240, 15);
  width: 350px;
  height: 300px; 
}